h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

h5 {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
}

.center-text {
  text-align: center;
  font-family: Inter, sans-serif;
  width: 100%;
}
