@import "./base.css";
@import "./text.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

main {
  padding: 20px 40px;
}

.container {
  display: flex;
}

.spacer {
  flex: 1;
}
