@import "./base.css";
@import "./buttons.css";
@import "./headers.css";
@import "./inputs.css";

body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 65px);
}

main {
  padding: 20px 40px;
}

.container {
  display: flex;
}

.spacer {
  width: 0;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.center-text {
  text-align: center;
  font-family: Inter, sans-serif;
  width: 100%;
}

.nav-title {
  margin-top: 0.8rem;
  padding: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  transition: margin-left 0.5s;
}

.active {
  margin-left: 20rem;
}

.collapsed {
  margin-left: 5rem;
}

.nav-item {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--color-text);
  transition-duration: 80ms;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: max-content;
  cursor: pointer;
}

.nav-item:hover {
  color: var(--color-text-hover);
}

.wrapper-form {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 400px;
  padding: 2rem 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: start;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.nav-icon {
  height: 1rem !important;
  margin: 0 0.3rem;
}

.dropdown {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
}

.dropdown-content {
  z-index: 10000;
  background-color: #f6f6f6;
  overflow: auto;
  max-height: 300px;
  width: 100%;
  position: absolute;
  border: 1px solid #ddd;
}

.dropdown-content div {
  display: block;
  cursor: pointer;
  padding: 1rem;
}
.dropdown-content div:hover {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: 5px;
}
.main-wrapper {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .active {
    margin-left: 0;
  }

  .collapsed {
    margin-left: 0;
  }

  .wrapper-form {
    padding: 2rem 2rem;
    margin: 2rem;
    width: 100%;
  }
}
